.tippytop {text-align: center;
font-family: 'Courier New', Courier, monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: blanchedalmond;}
a:hover {
    color: crimson;
    background-color: black;
    opacity: 80%;
}

#home-body {
    background-color: aqua;
}
body {
    background-color: blanchedalmond !important;
}

.Networking {
   border: 2px solid black;
   text-align: center;
   margin-top: 5%;
   margin-left: 8%;
   margin-right: 8%;
   padding: 50px;
   height: 100vh;
   background-image: url(Imagescs1/000036740008.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
#instaplug {
    position: relative;
    top: 85%;

    font-family:'Courier New', Courier, monospace;
    background-color: rgb(186, 67, 23);
    color: white}
#instaplug:hover {
    transform: scale(1.5);
}

.about-div {
    justify-content: center;
    margin-left: 20%;
}
#about {
    font-family: 'Courier New', Courier, monospace; 
}
#about-text {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.flex-container {
    justify-content: center;
    position: absolute;
    margin-left: 20%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    
}
#about-pic {
    border: 2px solid black;
    height: 50vh;
    text-align: center;
}
#about-pic2 {
    border: 2px solid black;
    height: 50vh; 
}

#portfolio-heading {
    margin-left: 25%;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.scroller {
    padding: 1rem;
    border-radius: 8px;
    max-width: 900px;
    width: 85vh;
    margin: auto;
}

.images-container{
    display: flex;
    gap: 40px;
    overflow-x: auto;
}
.images-container img {
    border: 2px solid black;
    height: 300px;
}


form {
    color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
    background-image: url(Imagescs1/000096040009.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat:repeat-y
}

form h1 {
    background-color: black;
    opacity: 60%;
    margin-left: 20%;
    margin-right: 20%
}
 form h3 {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black !important;
    opacity: 60%;
}
#submit {
    margin-bottom: 10%;
}
#submission-message {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}